<div class="bu-container bu-flex-middle">

  <div style="width: 100%;">

    <div class="bu-menu-row row m-0 p-0">

      <div class="col-md-6 p-3 bu-flex-middle">

        <div (click)="getPath('induction')" class="bu-link-btn list-group-item shadow bu-flex-middle">

          <h4 class="bu-bu-link-title text-center">Induction</h4>

        </div>


      </div>

      <div class="col-md-6 p-3 bu-flex-middle">

        <div (click)="getPath('assessment')" class="bu-link-btn list-group-item shadow bu-flex-middle">

          <h4 class="bu-bu-link-title text-center">Assessment</h4>

        </div>

      </div>

    </div>

  </div>

</div>

