<div id="employee-search" class="container-fluid p-0">

    <div class="bu-box-0 bu-flex-middle">

        <div class="bu-wrapper bu-flex-center">

            <div class="bu-title-container">

                <div class="list-group-item text-center p-1 mb-5">

                    <h3 class="m-0">Student's Employee Number</h3>

                </div>

            </div>

            <div class="bu-inputs-form bu-flex-center">

                <div class="p-3">

                    <input type="text" placeholder="Employee Number" class="bu-input text-center p-1">

                </div>

                <div class="p-3">

                    <button class="btn btn-sm btn-primary text-center">Start</button>

                </div>

            </div>

        </div>

    </div>


</div>