<div id="bu-main-container" class="container-fluid">

    <div class="bu-login-wrapper bu-flex-middle">


        <div class="bu-login-box-0 shadow">

            <div class="bu-login-box-1">

                <div class="bu-login-box-wrapper p-1">
        
                    <input type="text" placeholder="Username" class="bu-login-input form-control form-control-sm">
        
                </div>
        
                <div class="bu-login-box-wrapper p-1">
        
                    <input type="text" placeholder="Password" class="bu-login-input form-control form-control-sm">
        
                </div>
        
                <div class="bu-login-box-wrapper p-1 mt-2">
        
                    <button class="bu-btn btn btn-sm btn-primary" (click)="BuLogin()">Login</button>
        
                </div>
        
                
        
            </div>

        </div>


    </div>

</div>